@model IEnumerable<TestHostAppAndBaseDonnes.Models.PlanVondre>

@{
    ViewData["Title"] = "Plans Vontes";
}

<header>
    <nav class="navbar navbar-expand-md  navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="ProduitAcheteur" asp-action="Index">
                <img src="~/Images/GestionMagazinLogo.webp" alt="Logo" width="90" height="50" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-md-inline-flex justify-content-center">
                <ul class="navbar-nav flex-grow-center">

                    <li class="nav-item">
                        <a class="nav-link  " asp-area="" asp-controller="ProduitAffiche" asp-action="Index"><samp>les articles</samp></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  " asp-area="" asp-controller="ProduitAcheteur" asp-action="Index"><samp>Stock</samp></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link  active" asp-area="" asp-controller="PlanVondre" asp-action="IndexForVendeur"><samp>PlanVentes</samp></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link  " asp-area="" asp-controller="Acheteur" asp-action="IndexAcheteur"><samp>Profile</samp></a>
                    </li>
                </ul>
            </div>

            <div class="flex-grow-end ">
                <a class="btn btn-danger" asp-controller="Acheteur" asp-action="LogOut">Déconnecter</a>
            </div>
        </div>
    </nav>
</header>
<div class="LoginDiv">

    <div class="inputField">
        <div class="alert alert-primary">

            <h1><samp class="text-primary">La List des  Plans Ventes</samp></h1>
        </div>
        <p>

            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Chercher</button>

        </p>
        <div class="row">
            <div class="col-sm-4">

                <div class="collapse  multi-collapse" id="multiCollapseExample1">
                    <div class="card">
                        <h5 class="card-header">Chercher Par : </h5>
                        <div class="card-body">
                            <div class="inputField">
                                <form method="post" asp-action="ChercherproduitReference1">
                                    <label for="Reference">Reference</label>
                                    <input  name="Reference" required />
                                    <div class="inputField">
                                        <input type="submit" class="btn btn-outline-primary" value="Chercher" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br/>
            <div class="col-sm-4">
                <div class="collapse  multi-collapse" id="multiCollapseExample1">
                    <div class="card">
                        <h5 class="card-header">Chercher Par :</h5>
                        <div class="card-body">
                            <div class="inputField">
                                <form method="post" asp-action="Chercherproduitnom1">
                                    <label for="produitnom">Nom De Produit</label>
                                    <input type="text" name="produitnom" required />
                                    <div class="inputField">
                                        <input type="submit" class="btn btn-outline-primary" value="Chercher" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <br />
            <div class="col-sm-4">

                <div class="collapse  multi-collapse" id="multiCollapseExample1">
                    <div class="card">
                        <h5 class="card-header">Chercher Par : </h5>
                        <div class="card-body">
                            <div class="inputField">
                                <form method="post" asp-action="ChercherdateVondre1">
                                    <label for="datevondre">Date De Vente</label>
                                    <input type="date" name="datevondre" required />
                                    <div class="inputField">
                                        <input type="submit" class="btn btn-outline-primary" value="Chercher" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            
        </div>

    </div>
    
</div>
 <div class="LoginDiv">
    <div class="inputField">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        
                        <th>
                            Reference
                        </th>
                        <th>
                            Nom
                        </th>
                        <th>
                            Quantité Vente
                        </th>
                        <th>
                            Prix Vente
                        </th>
                        <th>
                            Total 
                        </th>
                        <th>
                            Date Vente
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.Reference)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.produit.Nom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Qnt_vondre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Prix_Vondre) Dh
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Total_Vondre) Dh
                            </td>
                            <td>
                                @item.DateVondre.ToString("dd/MM/yyyy HH:mm:ss")
                            </td>
                            <td>
                                <a class="btn btn-secondary" asp-action="EditPlanVenteforVendeur" asp-route-id="@item.id">Modifier</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
