
@model IEnumerable<GstMagazin.Models.ProduitQnt0export>

@{
    ViewData["Title"] = "Produits Trouver";
}


<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="ProduitAcheteur" asp-action="Index">
                <img src="~/Images/GestionMagazinLogo.webp" alt="Logo" width="90" height="50" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                <ul class="navbar-nav flex-grow-center">

                    <li class="nav-item">
                        <a class="nav-link  " asp-area="" asp-controller="ProduitAffiche" asp-action="Index"><samp>les articles</samp></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  active" asp-area="" asp-controller="produit" asp-action="Index"><samp>Stock</samp></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  " asp-area="" asp-controller="Magasin" asp-action="Index"><samp>Analyse</samp></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="PlanVondre" asp-action="Index"><samp>PlansVentes</samp></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="PlanAchat" asp-action="Index"><samp>PlansAchats</samp></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Acheteur" asp-action="Index"><samp>Magasinier</samp></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Directeur" asp-action="index"><samp>Profile</samp></a>
                    </li>
                </ul>
            </div>

            <div class="flex-grow-end ">
                <a class="btn btn-danger" asp-controller="Acheteur" asp-action="LogOut">Déconnecter</a>
            </div>
        </div>
    </nav>
</header>

<div class="LoginDiv">
    <div class="inputField">
        @if (@ViewBag.QuantiteNotTrouver != null)
        {
            <div class="alert alert-danger">
                <h1><samp class="text-danger">@ViewBag.QuantiteNotTrouver</samp></h1>

            </div>
            <h2><samp class="text-danger"> Verefier Bien La Quantite de Produit Que Vous Avez Chercher Par</samp></h2>
            <p>

                <a class="btn btn-primary" asp-action="Index">Retour </a>

            </p>

        }
        else
        {
            <div class="alert alert-info">
                <h4><samp class="text-info">@ViewBag.QuantiteChercher</samp></h4>
            </div>

            <p>
                <a class="btn btn-primary export-btn">Exporter</a>
                <a class="btn btn-primary" asp-action="Index">Retour </a>
            </p>

            <div class="LoginDiv">
                <div class="inputField">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <samp>Reference</samp>

                                    </th>
                                    <th>
                                        <samp>Nom</samp>
                                    </th>
                                    <th>
                                        <samp>Quantité Stock</samp>
                                    </th>
                                    <th>
                                        <samp>Total Quantité Des Achat</samp>
                                    </th>
                                    <th>
                                        <samp>Prix Achat</samp>
                                    </th>
                                    <th>
                                        <samp>Total Des Achats </samp>
                                    </th>
                                    <th>
                                        <samp>Total Quantité Des Ventes </samp>
                                    </th>
                                    <th>
                                        <samp>Total Des Ventes</samp>
                                    </th>
                                    <th>
                                        <samp>Profite</samp>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.produit.Reference)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.produit.Nom)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.produit.quantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.QuantiteAchat)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.produit.Prix_unity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalAchat) DH
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.QuantiteVente) 
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalVonte) Dh
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Profite) Dh
                                        </td>
                                        <td>
                                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.produit.id">Actions</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        }



        @if (@ViewBag.QuantiteNotTrouver == null)
        {


            <table id="dataTableExport" class="table table-striped" hidden>
                <thead>
                    <tr>
                        <th>
                            <samp>Reference</samp>

                        </th>
                        <th>
                            <samp>Nom</samp>
                        </th>
                        <th>
                            <samp>Quantité Stock</samp>
                        </th>
                        <th>
                            <samp>Quantité Achat</samp>
                        </th>

                        <th>
                            <samp>Prix Achat</samp>
                        </th>
                        <th>
                            <samp>Total Des Achats </samp>
                        </th>
                        <th>
                            <samp>Total Des Ventes</samp>
                        </th>
                        <th>
                            <samp>Profite</samp>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.produit.Reference)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.produit.Nom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.produit.quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QuantiteAchat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.produit.Prix_unity) Dh
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalAchat) DH
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalVonte) Dh
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Profite) Dh
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }


    </div>
</div>

<script>document.addEventListener('DOMContentLoaded', function () {
        const exportBtn = document.querySelector('.btn-primary.export-btn');

        if (exportBtn) {
            exportBtn.addEventListener('click', function () {
                const table = document.getElementById('dataTableExport');
                const currentDate = new Date().toISOString().slice(0, 10);
                const filename = `Produits_Par_Quantity ${currentDate}.xlsx`;
                const wb = XLSX.utils.book_new();

                // Convert table to worksheet
                const ws = XLSX.utils.table_to_sheet(table);

                // Exclude the last column by manipulating the worksheet data
                const range = XLSX.utils.decode_range(ws['!ref']);
                for (let rowNum = range.s.r; rowNum <= range.e.r; rowNum++) {
                    const row = XLSX.utils.encode_row(rowNum);
                    delete ws[`${row}${range.e.c}`];
                }

                XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');

                return XLSX.writeFile(wb, filename);
            });
        } else {
            console.error('Button not found or selector is incorrect.');
        }
    });</script>
