@model TestHostAppAndBaseDonnes.Models.PlanAchat

@{
    ViewData["Title"] = "Delete";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Produit" asp-action="Index">
                <img src="~/Images/GestionMagazinLogo.webp" alt="Logo" width="90" height="50" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                <ul class="navbar-nav flex-grow-center">


                    <li class="nav-item">
                        <a class="nav-link  " asp-area="" asp-controller="ProduitAffiche" asp-action="Index"><samp>les articles</samp></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  " asp-area="" asp-controller="produit" asp-action="Index"><samp>Stock</samp></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  " asp-area="" asp-controller="Magasin" asp-action="Index"><samp>Analyse</samp></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="PlanVondre" asp-action="Index"><samp>PlansVentes</samp></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-area="" asp-controller="PlanAchat" asp-action="Index"><samp>PlansAchats</samp></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Acheteur" asp-action="Index"><samp>Magasinier</samp></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Directeur" asp-action="index"><samp>Profile</samp></a>
                    </li>
                </ul>
            </div>

            <div class="flex-grow-end ">
                <a class="btn btn-danger" asp-controller="Directeur" asp-action="LogOut">Déconnecter</a>
            </div>
        </div>
    </nav>
</header>
<div class="LoginDiv">
    <div class="inputField">
        <div class="alert alert-danger" role="alert">
            <h1><samp class="text-danger">Vous Etes Sure ?</samp></h1>
        </div>
        <h3> Plan Achat Selectionner</h3>
        <hr />
        <div class="inputField">
            <h4><samp> Information :</samp></h4>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.produit)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.produit.Nom)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Qnt_achat)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Qnt_achat)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Prix_achat)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Prix_achat) DH
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Total_Achat)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Total_Achat) DH
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DateAchat)
                </dt>
                <dd class="col-sm-10">
                    @Model.DateAchat.ToString("dd/MM/yyyy HH:mm:ss")
                </dd>
            </dl>

            <hr />
            <form asp-action="Delete">
                <input type="hidden" asp-for="id" />
                <div class="buttonsDiv">
                    <input type="submit" value="Supprimmer" class="btn btn-danger" />
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@Model.id">Retour</a>
                    <a class="btn btn-primary" asp-action="Index">Retour Vers La List</a>
                </div>
            </form>
        </div>
        <hr />

    </div>

    

</div>
    

