@model IEnumerable<GstMagazin.Models.Fournisseur>

@{
    ViewData["Title"] = "Index";
}


<div class="inputField">
    <p>
        <a class="btn btn-secondary" asp-action="Create">Ajouter</a>
    </p>
</div>
    <div class="inputField">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nom)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.tele)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tele)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.id">Actions</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
